@use "./../base/font" as ft;
@use "./../base/mediaquery" as md;
@use "./../base/color" as cl;
.label {
  display: inline-block;
  background-color: rgba(184, 97, 75, 1);
  color: cl.$light;
  @include ft.font1(normal, 12, 12, 0);
  border-radius: 5%;
  padding: 0.6em 1.5em;
}
